images
features
assets
hugging_face.txt
results/Cases
results/Clusters
results/training/**/*.png
results/training/**/*.txt
**/torchscript_models
*.pt
__pycache__/
*.py[cod]
*$py.class
tempCodeRunnerFile.py
.DS_Store
.venv*
*.whl
*.backup
*.pkl